# SAFE ENV VARS, RELEVANT FOR LOCAL DEVELOPMENT.&#10CONFIG_READONLY=0&#10CPPFLAGS=-DPNG_ARM_NEON_OPT=0&#10DB_HOST=db&#10DB_USER=db&#10DB_PASS=db&#10DB_NAME=db&#10DB_PORT=3306&#10DB_DRIVER=mysql&#10&#10MIGRATE_SOURCE_DB_HOST=db&#10MIGRATE_SOURCE_DB_USER=db&#10MIGRATE_SOURCE_DB_PASS=db&#10MIGRATE_SOURCE_DB_NAME=drupal7db&#10MIGRATE_SOURCE_DB_PORT=3306&#10MIGRATE_SOURCE_DB_DRIVER=mysql&#10SIMPLEI_ENV_COLOUR=#637C16&#10SIMPLEI_ENV_NAME=Local&#10&#10# SENSITIVE ENV VARS. KEYS ONLY. FETCH VALUES VIA PSH SSH.&#10CONFIG_SYNC_DIRECTORY=&#10FILE_PRIVATE_PATH=&#10HASH_SALT=&#10TEST_USER=&#10TEST_PASS=&#10TEST_D7_URL=&#10NW_TEST_USER_PREFIX=nw_test&#10QA_PASSWORD=&#10GA_CLIENT_ID=&#10GA_CLIENT_SECRET=&#10GA_REDIRECT_URI=&#10GOOGLE_MAP_API_KEY=&#10GOOGLE_MAP_API_SERVER_KEY=&#10