/*
 * @file
 * Provides the styling for content revision comparisons.
 */

@import '../init';

// GP practices
.launch-service {
  ins,
  del {
    background: none;
    text-decoration: none;
  }
}

.layout--main-n-side {
  .diff-responsive-table-wrapper {
    + .ga-aside {
      grid-row: 2;
    }
  }
}

