version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.4.0

workflows:
  setup:
    jobs:
      - fetch-and-continue

jobs:
  fetch-and-continue:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Download shared config
          command: |
            wget \
              --header="Cache-Control: no-cache" \
              --header="Pragma: no-cache" \
              "https://raw.githubusercontent.com/dof-dss/webdev-ci/development/shared-config.yml?nocache=$(date +%s)" \
              -O shared-config.yml

      - run:
          name: Combine shared jobs and local workflows
          command: |
            # Remove the 'version: 2.1' from workflows config (since it's in shared config)
            tail -n +2 .circleci/workflow-config.yml > workflows-only.yml
            # Concatenate shared jobs+commands with repo workflows
            cat shared-config.yml workflows-only.yml > full-config.yml

      - continuation/continue:
          configuration_path: full-config.yml
          parameters: |
            {
              "php_version": "8.3",
              "drupal_core_version": "10.5",
              "coding_standards_dirs": "${PROJECT_ROOT}/web/modules/custom ${PROJECT_ROOT}/web/modules/origins ${PROJECT_ROOT}/web/themes/custom",
              "custom_code_dirs": "${PROJECT_ROOT}/web/modules/custom ${PROJECT_ROOT}/web/modules/origins",
              "deprecated_code_dirs": "${PROJECT_ROOT}/web/modules/custom ${PROJECT_ROOT}/web/modules/origins ${PROJECT_ROOT}/web/themes/custom",
              "edge_branch": "D8NID-edge",
              "edge_build_dofdss_packages": "dof-dss/nicsdru_origins_theme:dev-10.x-dev dof-dss/nicsdru_origins_modules:dev-10.x-dev",
              "ignore_dirs": "/web/themes/custom/nicsdru_nidirect_theme/node_modules,/web/themes/custom/nicsdru_origins_theme/node_modules",
              "ssh_fingerprint": "f8:f0:34:a1:0e:51:56:44:2b:9c:db:b7:2f:26:3b:48"
            }
