ul.school-closures {
  list-style: none;
  margin: 2.5em 0;
  padding: 2em 0;
  box-shadow: 0 1px 0 0 #d1d1d1, 0 -1px 0 0 #d1d1d1;

  li.school-closure {
    margin: 0 0 2em;

    &:last-child {
      margin-bottom: 0;
    }

    .school-closure__name {
      font-size: 2.4rem;
      line-height: 3rem;
      margin: 0;
    }

    .school-closure__location {
      margin: .6rem 0 1.2rem;
      color: #717171;
      font-size: 1.6rem;
      line-height: 1.8rem;
    }

    .school-closure__events {
      list-style: none;
      margin: 0;
      padding: 0;

      .school-closure__event {
        font-size: 1.6rem;
        line-height: 3rem;

        time {
          font-weight: bold;
        }
      }
    }
  }
}
