#school-closure-results .school-closure {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d1d1d1;
}

#school-closure-results .school-closure__name {
  margin-bottom: 0;
}

#school-closure-results .school-closure__location {
  color: #717171;
  font-size: 0.92em;
}
