/*
 * @file
 * Provides the styling for list components.
 */
@import '../../init';

.list {
  &--no-bullet {
    list-style: none;
    padding: 0;
  }

  &--inline li {
    display: inline-block;
    padding-right: .334em;
    white-space: nowrap;
  }

  &--checklist {
    li {
      color: $grey-dark;
      background: transparent resolve('status.svg') no-repeat left / 16px 16px;
      margin-bottom: 0;
      margin-right: 4px;
      padding-left: 21px;

      @include breakpoint($mob, $no-query: true) {
        background-size: 18px 18px;
        margin-right: 7px;
        padding-left: 24px;
      }

      @include breakpoint($phab, $no-query: true) {
        background-size: 19px 19px;
        margin-right: 9px;
      }
    }
  }

  &--ordered-bullet {
    list-style: none;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 2em;
      min-height: 1.5em;

      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        content: counter(item);

        font-size: 1.2rem;
        line-height: 2.4rem;
        min-width: 2.4rem;
        min-height: 2.4rem;
        text-align: center;
        border-radius: 50%;
        background-color: $charcoal;
        color: #fff;

        @include breakpoint($tab) {
          font-size: 1.4rem;
          line-height: 2.7rem;
          min-width: 2.7rem;
          min-height: 2.7rem;
        }
      }
    }
  }
}

.split-list {
  columns: 2;
  column-gap: 3.6rem;
}

/*
 * Definition list - side by side.
 *
 * Terms and descriptions appear side by side.
 */
dl.side-by-side {
  display: grid;
  grid-template-columns: max-content auto;

  dt {
    text-align: right;
    white-space: nowrap;
  }

  dd {
    grid-column-start: 2;
  }
}
