// Font faces, stacks and sizes.
//
// Font styling and line heights are controlled by the several variables that
// used by mixins like adjust-font-size-to().
// These variable and mixins are documented in [Compass](http://compass-style.org/reference/compass/typography/vertical_rhythm/).
// We also use a custom mixin responsive-typo-map() to make responsive typography much more manageable using sass maps.
// We import Google fonts in the head of the document and set the base family to be
// 'Open Sans', sans-serif
//
// Style guide: init.variables.typography
// The default font family.
$base-font-family: 'Lato', 'Open Sans', sans-serif;
$font-monospace:   'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;;

// The font sizes for h1-h6.
$h1-font-size: 4 * $base-font-size;
$h2-font-size: 2.8 * $base-font-size;
$h3-font-size: 2.4 * $base-font-size;
$h4-font-size: 1.8 * $base-font-size;
$h5-font-size: 1.8 * $base-font-size;
$h6-font-size: 1.8 * $base-font-size;
$p-font-size: 1.8 * $base-font-size;

$body-text: (
  null: (16px, 1.5),
  lg: 18px,
  //xxl: 20px,
);

$small-text: (
  null: (15px, 1.4),
  lg: (16px, 1.5),
  //xxl: (1.7rem, 1.7647),
);

$breadcrumb-text: (
  null: (14px, 24px, 12px 0 20px 2px),
  sm: (null, null, 16px 0 24px),
  lg: (null, 27px, 21px 0 27px),
  //xxl: (16px, 30px, 20px 0 30px)
);

$normal-text: (
  null: (16px, 1.5, 1em 0 1.5em),
  md: (null, null, 1em 0 1.5em),
  lg: 18px,
  //xxl: 20px,
);

$large-text: (
  null: (18px, 1.5),
  md: (20px, 1.5),
  //lg: (21px, 1.4286),
  //xl: (24px, 1.3334)
);

$xl-text: (
  null: (20px, 1.4),
  md: (22px, 1.4546),
  lg: (24px, 1.5),
  //xl: (28px, 1.2857)
);

$xxl-text: (
  null: (24px, 1.3334),
  lg: (27px, 1.3334),
  xl: (30px, 1.3334)
);

$h1-text: (
  null: (28px, 32px, 16px 0 21px),
  md: (30px, 36px, 24px 0 21px),
  lg: (32px, 39px, 27px 0 27px),
  xl: (32px, 39px, 30 0 27px),
  //xxl: (36px, 45px, 40px 0 30px)
);

$h2-text: (
  null: (24px, 32px, 32px 0 16px),
  lg: (28px, 36px, 36px 0 18px),
  //xxl: (30px, 40px, 40px 0 20px)
);

$h3-text: (
  null: (21px, 24px, 32px 0 12px),
  lg: (24px, 30px, 36px 0 18px),
  //xxl: (25px, 30px, 40px 0 20px)
);

$h4-text: (
  null: (18px, 24px, 32px 0 12px),
  lg: (21px, 27px, 36px 0 18px),
  //xxl: (24px, 30px, 40px 0 20px)
);

$h5-text: (
  null: (16px, 24px, 32px 0 12px),
  lg: (18px, 27px, 36px 0 18px),
  //xxl: (20px, 30px, 40px 0 20px)
);

$h6-text: (
  null: (16px, 24px, 32px 0 12px),
  lg: (18px, 27px, 36px 0 18px),
  //xxl: (20px, 30px, 40px 0 20px)
);

$card-title: (
  null: (22px, 1.364),
);

$btn-small: (
  null: (14px, 22px),
  lg: (16px, 24px)
);

$btn-default: (
  null: (16px, 24px),
  lg: (18px, 27px)
);

$btn-medium: (
  null: (18px, 24px),
  lg: (21px, 30px)
);

$btn-large: (
  null: (21px, 28px),
  lg: (24px, 36px)
);

$form-legend-large: (
  null: (24px, 32px, 0 0 16px),
  lg: (27px, 36px, 0 0 18px),
  //xxl: (30px, 4rem, 4rem 0 2rem)
);

$form-legend: (
  null: (20px, 24px, 0 0 16px),
  lg: (22px, 30px, 0 0 18px),
  //xxl: (28px, 3rem, 0 0 2rem)
);

$form-legend-small: (
  null: (16px, 24px, 0 0 12px),
  md: (18px, 27px, 0 0 15px),
);

$landing-page-summary: (
  null: (20px, 1.4, 24px 0 32px),
  md: (22px, 1.4546),
  lg: (26px, 1.3846, 30px 0 36px),
  xl: (30px, 1.3, 45px 0 45px)
);
