@import '../init';

$base-font-size: 16px;

.messages-list {
  .messages {
    background: var(--messages-bg-color);
  }

  .messages__title {
    color: $white;
    font-size: var(--font-size-base);
    line-height: var(--line-height-heading);
  }
}

